<div class="row">
  <div class="col-md-2">
    <h3>Occupations</h3>
    <small>Showing {{sortedCourses.length}} of {{model.length}}</small>
    <hr>
    {{i-check checked=selectedBusinessAnalytics}} Business Analytics <br>
    {{i-check checked=selectedBusinessIntelligence}} Business Intelligence <br>
    {{i-check checked=selectedComputerNetwork}} Computer Network <br>
    {{i-check checked=selectedDataAnalysis}} Data Analysis <br>
    {{i-check checked=selectedDatabase}} Database <br>
    {{i-check checked=selectedDatabaseAdministration}} Database Admin <br>
    {{i-check checked=selectedElectronicHealthRecords}} EHRs <br>
    {{i-check checked=selectedHealthCare}} Health Care <br>
    {{i-check checked=selectedHealthInformatics}} Health Informatics <br>
    {{i-check checked=selectedHealthInformationTechnology}} Health IT <br>
    {{i-check checked=selectedHealthTechnician}} Health Technician <br>
    {{i-check checked=selectedHealthcareAnalyst}} Healthcare Analyst <br>
    {{i-check checked=selectedHealthCareAssistant}} Healthcare Assistant <br>
    {{i-check checked=selectedHealthCareDatabase}} Healthcare Database <br>
    {{i-check checked=selectedHealthCareSpecialist}} Healthcare Specialist <br>
    {{i-check checked=selectedHealthcareTechnology}} Healthcare Tech <br>
    {{i-check checked=selectedHelpDesk}} Help Desk <br>
    {{i-check checked=selectedInformationTechnology}} IT <br>
    {{i-check checked=selectedMedicalAssistant}} Medical Assistant <br>
    {{i-check checked=selectedMedicalCharting}} Medical Charting <br>
    {{i-check checked=selectedMedicalRecords}} Medical Records <br>
    {{i-check checked=selectedNetworkAdministrator}} Network Admin <br>
    {{i-check checked=selectedNetworkAnalyst}} Network Analyst <br>
    {{i-check checked=selectedNetworkSecurity}} Network Security <br>
    {{i-check checked=selectedNetworkSystems}} Network Systems <br>
    {{i-check checked=selectedPatientCare}} Patient Care <br>
    {{i-check checked=selectedPharmacy}} Pharmacy <br>
    {{i-check checked=selectedPharmacySpecialist}} Pharmacy Specialist <br>
    {{i-check checked=selectedPharmacyTechnician}} Pharmacy Technician <br>
    {{i-check checked=selectedSoftwareDevelopment}} Software Development <br>    
    
  </div>
  <div class="col-md-10">
    <div class="row">
    	{{page-numbers content=pagedContent}}
    </div>

    <ul class="list-group">
    	{{#each course in pagedContent}}
    	<li class="list-group-item">
        <div class="row">
          <div class="col-md-1">
            <img {{bind-attr src=course.branchImage alt=course.branch}} width=75>
          </div>
          <div class="col-md-11">
            <strong><a {{bind-attr href=course.url}} target="_blank">{{course.title}}</a></strong>
            <span class="pull-right">
                {{match-badge course.match}}
            </span><br>
            <small>{{course.id}}</small><br>
            <small>{{course.category}}
            {{!-- {{#each category in course.category}}
              {{category}}
            {{/each}} --}}
            </small>
          </div>
        </div>
    	</li>
    	{{/each}}
    </ul>

    <div class="row">
    	{{page-numbers content=pagedContent}}
    </div>
  </div>
</div>