
<div class="row">
  <div class="col-md-2">
    <h3>Occupations</h3>
    <small>Showing {{sortedCourses.length}} of {{model.length}}</small>
  </div>
  <div class="col-md-7">
    {{#if pagedContent}}
    {{page-numbers content=pagedContent}}
    {{/if}}
  </div>
  <div class="col-md-3">
    <div class="input-group">
      {{input value=filterQuery type="text" placeholder="Search by title..." class="search-box form-control"}}
      <span class="input-group-btn">
        {{#if filterQuery}}
        <button class="btn btn-default glyphicon glyphicon-remove" type="button" {{action "clearFilterQuery"}}></button>
        {{else}}
        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
        {{/if}}
      </span>
    </div> {{!-- /.input-group --}}
  </div> {{!-- /.col col-sm-3 --}}
</div>


<div class="row">
  <div class="col-md-2 hidden-sm hidden-xs">
    <hr style="margin-top: 0px">
    <h5>
      <span>Filters</span>
      {{#if sortCategories}}<button class="pull-right" {{action "clearCategories"}}>x</button>{{/if}}
    </h5>

    {{input type="checkbox" checked=selectedBusinessAnalytics}} Business Analytics <br>
    {{input type="checkbox" checked=selectedBusinessIntelligence}} Business Intelligence <br>
    {{input type="checkbox" checked=selectedComputerNetwork}} Computer Network <br>
    {{input type="checkbox" checked=selectedDataAnalysis}} Data Analysis <br>
    {{input type="checkbox" checked=selectedDatabase}} Database <br>
    {{input type="checkbox" checked=selectedDatabaseAdministration}} Database Admin <br>
    {{input type="checkbox" checked=selectedElectronicHealthRecords}} EHRs <br>
    {{input type="checkbox" checked=selectedHealthCare}} Health Care <br>
    {{input type="checkbox" checked=selectedHealthInformatics}} Health Informatics <br>
    {{input type="checkbox" checked=selectedHealthInformationTechnology}} Health IT <br>
    {{input type="checkbox" checked=selectedHealthTechnician}} Health Technician <br>
    {{input type="checkbox" checked=selectedHealthcareAnalyst}} Healthcare Analyst <br>
    {{input type="checkbox" checked=selectedHealthCareAssistant}} Healthcare Assistant <br>
    {{input type="checkbox" checked=selectedHealthCareDatabase}} Healthcare Database <br>
    {{input type="checkbox" checked=selectedHealthCareSpecialist}} Healthcare Specialist <br>
    {{input type="checkbox" checked=selectedHealthcareTechnology}} Healthcare Tech <br>
    {{input type="checkbox" checked=selectedHelpDesk}} Help Desk <br>
    {{input type="checkbox" checked=selectedInformationTechnology}} IT <br>
    {{input type="checkbox" checked=selectedMedicalAssistant}} Medical Assistant <br>
    {{input type="checkbox" checked=selectedMedicalCharting}} Medical Charting <br>
    {{input type="checkbox" checked=selectedMedicalRecords}} Medical Records <br>
    {{input type="checkbox" checked=selectedNetworkAdministrator}} Network Admin <br>
    {{input type="checkbox" checked=selectedNetworkAnalyst}} Network Analyst <br>
    {{input type="checkbox" checked=selectedNetworkSecurity}} Network Security <br>
    {{input type="checkbox" checked=selectedNetworkSystems}} Network Systems <br>
    {{input type="checkbox" checked=selectedPatientCare}} Patient Care <br>
    {{input type="checkbox" checked=selectedPharmacy}} Pharmacy <br>
    {{input type="checkbox" checked=selectedPharmacySpecialist}} Pharmacy Specialist <br>
    {{input type="checkbox" checked=selectedPharmacyTechnician}} Pharmacy Technician <br>
    {{input type="checkbox" checked=selectedSoftwareDevelopment}} Software Development <br>    
    
  </div>
  <div class="col-md-10">
    <ul class="list-group">
      {{#if pagedContent}}
    	{{#each pagedContent as |occupation|}}
        {{occupation-row occupation=occupation}}
    	{{/each}}
      {{else}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <p>There are no entries that match your filters and search criteria.</p>
          </div>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
</div>

{{#if pagedContent}}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
    {{page-numbers content=pagedContent}}
  </div>
  <div class="col-sm-3"></div>
</div>
{{/if}}