<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Occupations</h3>
			<div class="btn-group">
        <button type="button" {{bind-attr class=":btn :dropdown-toggle"}} data-toggle="dropdown">
          {{#if sortCategory}}{{sortCategory}}{{else}}Categories{{/if}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a {{action 'sortOccupationsByCategory' ''}}>All</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'business analytics'}}>Business Analytics</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'business intelligence'}}>Business Intelligence</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'computer network'}}>Computer Networking</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'data analysis'}}>Data Analysis</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'database'}}>Database</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'database administration'}}>Database Administration</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'electronic health records'}}>Electronic Health Records</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health care'}}>Healthcare</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health informatics'}}>Health Informatics</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health information technology'}}>Health Information Technology</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health technician'}}>Health Technician</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'healthcare analyst'}}>Healthcare Analyst</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health care assistant'}}>Healthcare Assistant</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health care database'}}>Healthcare Database</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'health care specialist'}}>Healthcare Specialist</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'healthcare technology'}}>Healthcare Technology</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'help desk'}}>Help Desk</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'information technology'}}>Information Technology</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'medical assistant'}}>Medical Assistant</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'medical charting'}}>Medical Charting</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'medical records'}}>Medical Records</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'network administrator'}}>Network Administrator</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'network analyst'}}>Network Analyst</a></li>
					<li><a {{action 'sortOccupationsByCategory' 'network security'}}>Network Security</a></li>
					<li><a {{action 'sortOccupationsByCategory' 'network systems'}}>Network Systems</a></li>
					<li><a {{action 'sortOccupationsByCategory' 'patient care'}}>Patient Care</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'pharmacy'}}>Pharmacy</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'pharmacy specialist'}}>Pharmacy Specialist</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'pharmacy technician'}}>Pharmacy Technician</a></li>
          <li><a {{action 'sortOccupationsByCategory' 'Software development'}}>Software Development</a></li>
        </ul>
      </div> {{!-- /.btn-group --}}
		</div>
		<div class="col-md-6">
			<small class="pull-right">
				Showing {{sortedOccupations.length}} of {{model.length}} occupations
			</small><br>
			<div class="pull-right">
				{{page-numbers content=pagedContent}}
			</div>
		</div>
	</div>
		<ul class="list-group">
			{{#each occupation in pagedContent}}
			<li class="list-group-item">
				{{occupation.title}}<br>
				<small>{{occupation.id}}</small>
				<small class="pull-right">{{occupation.category}}</small>
			</li>
			{{/each}}
		</ul>

		<div class="pull-right">
			{{page-numbers content=pagedContent}}
		</div>
</div>