<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Occupations</h3>
		</div>
		<div class="col-md-6">
			<small class="pull-right">
				Showing {{sortedOccupations.length}} of {{model.length}} occupations
			</small><br>
			<div class="pull-right">
				{{page-numbers content=pagedContent}}
			</div>
		</div>
	</div>
		<ul class="list-group">
			{{#each occupation in pagedContent}}
			<li class="list-group-item">
				{{occupation.title}}<br>
				<small>{{occupation.id}}</small>
				<small class="pull-right">{{occupation.category}}</small>
			</li>
			{{/each}}
		</ul>

		{{page-numbers content=pagedContent}}
</div>